<script type="text/javascript">
    RED.nodes.registerType('or-concatenate', {
        category: 'OR Transform',
        color: '#FFD39F',
        defaults: {
            name: { value: "" },
            merge_type: { value: "union" },
            append_source_column: { value: false }
        },
        inputs: 1,
        outputs: 1,
        icon: "font-awesome/fa-plus-square",
        paletteLabel: "Concatenate",
        label: function() {
            return this.name || "Concatenate";
        },
        oneditprepare: function() {
            const node = this;
            $('<hr>').appendTo('#dialog-form');
            const previewBtn = $('<button type="button" class="ui-button ui-corner-all ui-widget">Preview Output (Data)</button>')
                .appendTo('#dialog-form');
            $('<div id="or-concat-preview" style="margin-top:10px; font-size:0.9em; color:#666;"></div>').appendTo('#dialog-form');

            previewBtn.on("click", function() {
                $.getJSON("orangered/preview/" + node.id + "/Data?rows=10", function(data) {
                    if (data.error) {
                        $('#or-concat-preview').html("<span style='color:red'>" + data.error + "</span>");
                        return;
                    }
                    $('#or-concat-preview').html("<b>" + data.total_rows + "</b> rows &times; <b>" + data.total_cols + "</b> columns");
                }).fail(function(jqxhr) {
                    var msg = "Failed to fetch preview";
                    try { msg = JSON.parse(jqxhr.responseText).error || msg; } catch(e) {}
                    $('#or-concat-preview').html("<span style='color:red'>" + msg + "</span>");
                });
            });
        }
    });
</script>

<script type="text/html" data-template-name="or-concatenate">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-merge_type"><i class="fa fa-columns"></i> Column Match</label>
        <select id="node-input-merge_type">
            <option value="union">Union (all columns)</option>
            <option value="intersection">Intersection (common columns only)</option>
        </select>
    </div>
    <div class="form-row">
        <label for="node-input-append_source_column" style="width:auto;">
            <input type="checkbox" id="node-input-append_source_column" style="width:auto; margin-right:5px;">
            Add "Source" column
        </label>
    </div>
</script>

<script type="text/html" data-help-name="or-concatenate">
    <p>Appends rows from the <b>Extra Data</b> table onto the primary <b>Data</b> table.</p>
</script>
